<%- include("partials/header") %>

<div class="ui inverted vertical masthead center aligned segment">
</div>
<br>
 <div class="text container">
       <h1>Welcome to the landing page</h1>
        </div>



<a href="/campgrounds">view all campgrounds</a>

<%- include("partials/footer") %>
